<div>
    <div class="init">
        <p data-aos="fade-up" data-aos-duration="400" data-aos-easing="linear" class="rose" id="init1">Hola! Mi nombre es</p>
        <h1 data-aos="fade-up" data-aos-duration="400" data-aos-easing="linear" class="white" id="init2">Gonzalo Rando Serna</h1>
        <h1 data-aos="fade-up" data-aos-duration="400" data-aos-easing="linear" id="init3">Desarrollador y <br> administrador.</h1>
        <p data-aos="fade-right" data-aos-duration="400" data-aos-easing="linear" id="init4">Soy un administrador de sistemas y redes que se dedicó y especializó <br> en el desarrollo. Me entusiasmó mucho, aprendí varias tecnologías y<br>realicé algunos proyectos.</p>
        <a id="about" href="https://grproyectos.netlify.app/"><button data-aos="zoom-in" data-aos-duration="300" data-aos-easing="linear" class="web" id="init5" >Puedes ver mi web!</button></a>
        
    </div>
    <div class="about">
        <h2 data-aos="fade-right" data-aos-duration="300" data-aos-easing="linear" class="title"><b class="rose">01.</b>Sobre mí</h2>
        <div class="aboutContent">
            <div data-aos="fade-up" data-aos-duration="300" data-aos-easing="linear" class="aboutText">
                <p>Hola! Mi nombre es <span class="rose">Gonzalo Rando Serna</span> y me dedico a la informática y al desarrollo. Mi interés por este oficio apareció desde que yo era muy pequeño, con 15 años aprendí a programar <span class="rose">Scripts</span> y hice mis primeras páginas con <span class="rose">HTML y CSS</span>. Empecé a estudiar para trabajar como <span class="rose">administrador de sistemas y redes</span>, pero cuando descubrí el mundo del <span class="rose">desarrollo</span> me enamoró por completo.</p>
                <p id="tech">A día de hoy tengo la suerte de dedicarme al oficio de mis sueños, donde <span class="rose">nunca me canso de estudiar o aprender cosas nuevas</span>. Estoy enfocado en convertirme en desarrollador full stack y aprendiendo tecnologías tanto de <span class="rose">backend</span> como de <span class="rose">fronted</span>.</p>
            </div>
            <div data-aos="fade-up" data-aos-duration="300" data-aos-easing="linear" class="imgAbout"> <div class="aboutRose"></div><img  src="../../../assets/gonzalo.jpg" alt="image"></div>
        </div>
    </div>
    <div class="tech">
        <h2 data-aos="fade-right" data-aos-duration="300" data-aos-easing="linear" class="title"><b class="rose">02.</b>Tecnologías</h2>
        <div>
            <div class="center">
                <ul  data-aos="fade-up" data-aos-duration="300" data-aos-easing="linear" >
                    <li><span class="white">JavaScript</span></li>
                    <li><span class="white">TypeScript</span></li>
                    <li><span class="white">Angular</span></li>
                    <li><span class="white">Python</span></li>
                    <li><span class="white">Node.js</span></li>
                    <li><span class="white">HTML</span></li>
                    <li><span class="white">CSS</span></li>
                    <li><span class="white">MongoDB</span></li>
                    <li><span class="white">SQL/PLSQL</span></li>
                    <li><span class="white">Shell Scripts</span></li>
                    <li><span class="white">Batch Scripts</span></li>
                </ul>
            </div>
            <div class="honey">
                <div class="honeySmall">
                    <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="linear" class="hex" src="../../../assets/js.png" alt="js">
                    <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="linear" class="hex" src="../../../assets/angular.png" alt="angular">
                    <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="linear" class="hex" src="../../../assets/python.png" alt="python">
                    <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="linear" class="hex" src="../../../assets/node.png" alt="node">
                </div>
                <div class="empty">
                    <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="linear" class="hex" src="../../../assets/hexagon.png" alt="empty">
                    <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="linear" class="hex" src="../../../assets/hexagon.png" alt="empty">
                    <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="linear" class="hex" src="../../../assets/hexagon.png" alt="empty">
                </div>
                <div class="row2">
                    <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="linear" class="hex" src="../../../assets/html.png" alt="html">
                    <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="linear" class="hex" src="../../../assets/css.png" alt="css">
                    <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="linear" class="hex" src="../../../assets/mongo.png" alt="mongo">
                    <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="linear" class="hex" src="../../../assets/sql.png" alt="sql">
                </div>
                <div class="row3">
                    <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="linear" class="hex" src="../../../assets/ts.png" alt="ts">
                    <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="linear" class="hex" src="../../../assets/bash.png" alt="bash">
                    <img data-aos="zoom-in" data-aos-duration="300" data-aos-easing="linear" class="hex" src="../../../assets/cmd.png" alt="cmd">
                </div>
            </div>
        </div>
        </div>
        
    <div id="projects" class="proyectos">
        <h2 data-aos="fade-right" data-aos-duration="700" data-aos-easing="linear" class="title"><b class="rose">03.</b>Proyectos</h2>
        <div>
            <div class="flex proyecto">
                <div data-aos="zoom-in" data-aos-duration="1000" data-aos-easing="linear">
                    <a  routerLink="/angularMongo">
                        <div class="proyectoRose"></div>
                        <img class="proyectoImg" src="../../../assets/AngularMongo.png" alt="proyecto">
                    </a>
                </div>
                <div data-aos="fade-left" data-aos-duration="700" data-aos-easing="linear" class="proyectoDiv">
                    <h3>Aplicación Web con MongoAtlas, Angular y Node</h3>
                    <div  class="proyectoContent">
                        Una aplicación Web donde puedes <span class="rose">guardar</span> información y realizar <span class="rose">consultas</span> en una base de datos MongoAtlas. Fronted desarrollado en <span class="rose">Angular</span> y backend usando <span class="rose">Node.js</span>.<br> <br> Aplicación enfocada a una <span class="rose">tienda de ordenadores</span> que registra sus productos y ventas.
                    </div>
                    
                    <div class="flex">
                        <ul>
                            <li class="rose"><span class="white">TypeScript</span></li>
                            <li class="rose"><span class="white">MongoDB</span></li>
                            <li class="rose"><span class="white">Angular</span></li>
                            <li class="rose"><span class="white">Node.js</span></li>
                        </ul>
                        <a href="https://github.com/GonzaloRando03/ProyectoAngularMongoDB" aria-label="GitHub" class="github">
                            <svg  xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github">
                              <title>GitHub</title>
                              <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div data-aos="fade-right" data-aos-duration="1000" data-aos-easing="linear" class="flex proyecto">
                <div  class="proyectoDivR">
                    <div>
                        <h3>Aplicación Python de Escritorio base de datos coches</h3>
                        <div  class="proyectoContentR">
                            Una aplicación de escritorio donde puedes <span class="rose">guardar, editar y eliminar </span> coches y clientes de una base de datos <span class="rose">SQLite</span>. <br><br> Desarrollado con <span class="rose">Tkinter</span>, una librería de Python que nos permite hacer <span class="rose">aplicaciones de escritorio</span>.
                        </div>
                    </div>
                    <a href="https://github.com/GonzaloRando03/App_PythonSQL_Tkinter" aria-label="GitHub" class="github">
                        <svg   xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github">
                            <title>GitHub</title>
                            <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
                        </svg>
                    </a>
                    <div class="flex">
                        <ul>
                            <li class="rose"><span class="white">Python</span></li>
                            <li class="rose"><span class="white">Tkinter</span></li>
                            <li class="rose"><span class="white">SQLite</span></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <a  routerLink="/pythonTkinter">
                        <div class="proyectoRose"></div>
                        <img class="proyectoImg" src="../../../assets/tkinter.png" alt="proyecto">
                    </a>
                </div>
            </div>
            <div class="flex proyecto">
                <div data-aos="zoom-in" data-aos-duration="1000" data-aos-easing="linear">
                    <a  routerLink="/angularDjango">
                        <div class="proyectoRose"></div>
                        <img class="proyectoImg" src="../../../assets/angularDjango.png" alt="proyecto">
                    </a>
                </div>
                <div data-aos="fade-left" data-aos-duration="700" data-aos-easing="linear" class="proyectoDiv">
                    <h3>Aplicación Web reserva buses Angular, Django y MySQL</h3>
                    <div  class="proyectoContent">
                        Una aplicación Web donde puedes <span class="rose">reservar y cancelar</span> viajes de autobuses, <span class="rose">consultar</span> las distintas líneas, paradas y horarios. <br><br> Fronted desarrollado en <span class="rose">Angular</span> y backend desarrollado en <span class="rose">Django</span> usando TypeScript y Python respectivamente, base de datos <span class="rose">MySQL</span>.
                    </div>
                    
                    <div class="flex">
                        <ul>
                            <li class="rose"><span class="white">MySQL</span></li>
                            <li class="rose"><span class="white">Angular</span></li>
                            <li class="rose"><span class="white">Django</span></li>
                            <li class="rose"><span class="white">TS</span></li>
                            <li class="rose"><span class="white">Python</span></li>
                        </ul>
                        <a href="https://github.com/GonzaloRando03/Bus-AngularDjango" aria-label="GitHub" class="github">
                            <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github">
                              <title>GitHub</title>
                              <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="contact" class="contact"  data-aos="fade-up" data-aos-duration="700" data-aos-easing="linear">
        <h2><b class="rose">04.</b>Contacto</h2>
        <p>¿Quieres contactar conmigo? <br> Pulsa el botón y dejame un mensaje en mi bandeja de entrada. <br> Te responderé lo antes posible!</p>
        <a href="mailto:gonzalorando03@gmail.com"><button>Escríbeme!</button></a>
    </div>
</div>
