@media(min-width: 991px){
    .init{
        margin-top: 15pc;
        font-size: 20px;
        margin-left: 15pc;
    }
    
    .init h1{
        font-size: 5pc;
        margin: 0%;
    }
    
    .web{
        margin-top: 2pc;
        padding: 1pc;
    }
    
    .about{
        margin-top: 20pc;
        margin-left: 17pc;
    }
    
    .title{
        font-size: 30px;
    }
    
    .title::after{
        content: "";
        display: block;
        width: 20pc;
        height: 1px;
        background-color: rgb(127, 123, 128);
        margin-left: 14pc;
        transform: translate( 0pc, -1pc);
        opacity: 0.4;
    }
    
    .aboutContent{
        display: flex;
    }
    
    .imgAbout img{
        width: 15pc;
        height: 15pc;
        margin-left: 5pc;
        border-radius: 5px;
        z-index: 11;
    }
    
    .imgAbout::after{
        content: "";
        display: block;
        width: 15pc;
        height: 15pc;
        border: 2px solid #ff00dd;
        transform: translate( 6pc, -14pc);
        border-radius: 10px;
        z-index: -1;
        position: absolute;
    }
    
    .aboutRose{
        content: "";
        display: block;
        width: 15pc;
        height: 15pc;
        background-color: #ff00dd;
        transform: translate( 5pc, 0pc);
        border-radius: 5px;
        z-index: 10;
        position: absolute;
        opacity: 0.2;
        transition: 0.5s;
    }
    
    .aboutRose:hover{
        opacity: 0;
    }
    
    .aboutText{
        font-size: 16px;
        width: 35pc;
        line-height: 1.5pc;
    }
    
    .tech{
        margin-top: 15pc;
        margin-left: 14pc;
    }
    
    .tech .title{
        margin-bottom: 3pc;
    }
    
    .honey{
        margin-left: 2pc;
    }
    
    .hex{
        width: 9pc;
        margin-left: 5pc;
    }
    
    .empty{
        margin-left: 7pc;
        transform: translate(0, -5pc);
    }
    
    .row2{
        transform: translate(0, -10pc); 
    }
    
    .row3{
        margin-left: 7pc;
        transform: translate(0, -15pc);
    }
    
    .proyectoImg{
        width: 40pc;
        border-radius: 5px; 
    }
    
    .proyectoContent{
        background-color:#280d31;
        width: 30pc;
        padding: 1pc;
        line-height: 1.3pc;
        border-radius: 5px;
        transform: translate(-5pc);
        box-shadow: 2px 2px 6px rgb(0, 0, 0);
        position: absolute;
        z-index: 11;
    }
    
    .proyectoRose{
        content: "";
        display: block;
        width: 40pc;
        height: 20pc;
        background-color: #ff00dd;
        border-radius: 5px;
        z-index: 10;
        position: absolute;
        opacity: 0.3;
        transition: 0.5s;
    }
    
    .proyectoRose:hover{
        opacity: 0;
    }
    
    .proyectoDiv{
        margin-top: 2pc;
    }
    
    .proyectoDiv h3{
        font-size: 20px;
        text-align: right;
        width: 20pc;
        margin-left: 7pc;
    }
    
    .proyectoDiv ul{
        margin-top: 11pc;
        display:flex;
    }
    
    .proyectoDiv li{
        margin-right: 2pc;
    }
    
    .proyectoDivR{
        width: 27pc;
        margin-top: 2pc;
    }
    
    .proyectoDivR h3{
        font-size: 20px;
        text-align: left;
        width: 20pc;
    }
    
    .proyectoDivR ul{
        display:flex;
        transform: translate(0,-2pc);
    }
    
    .proyectoDivR li{
        margin-left: 2pc;
    }
    
    .proyectoContentR{
        background-color:#280d31;
        width: 30pc;
        padding: 1pc;
        line-height: 1.3pc;
        border-radius: 5px;
        box-shadow: 2px 2px 6px rgb(0, 0, 0);
        position: absolute;
        z-index: 11;
    }
    
    .github svg{
        margin-top: 11pc;
        width: 1.5pc;
    }
    
    .proyectos{
        margin-left: 10pc;
        margin-top: 5pc;
        margin-bottom: 5pc;
    }
    
    .proyecto{
        margin-top: 5pc;
        margin-bottom: 10pc;
    }
    
    .contact{
        margin-top: 25pc;
    }
    
    .contact p{
        font-size: 18px;
        line-height: 1.7pc;
        text-align: center;
        margin-top: 3pc;
    }
    
    .contact h2{
        font-size: 2pc;
        line-height: 1.7pc;
        text-align: center;
        margin-right: 2pc;
    }
    
    .contact button{
        margin-left: 46%;
        padding: 1pc;
        margin-top: 2pc;
    }
    
}
