.center{
    display: flex;
    justify-content: center;
}

.projectExp{
    width: 80%;
    margin-left: 10%;
}

.projectExp h1{
    margin-top: 6pc;
}

.video{
    margin-top: 2pc;
    width: 100pc;
    height: 40pc;
}

.projectText{
    text-align: justify;
    font-size: 17px;
    margin-top: 5pc;
    margin-left: 1pc;
    margin-right: 1pc;
}


@media (max-width: 990px) and (min-width: 768px) {
    .projectExp{
        margin-left: 3pc;
        width: 40pc;
    }
    
    .projectExp h1{
        margin-top: 3pc;
        font-size: 20px;
    }
    
    .video{
        margin-top: 2pc;
        width: 40pc;
        height: 22pc;
    }
    
    .projectText{
        text-align: justify;
        font-size: 12px;
        margin-top: 5pc;
        margin-right: 1pc;
        width: 40pc;
        margin-bottom: 15pc;
    }

}

@media (max-width: 767px){
    .projectExp{
        margin-left: 1pc;
        width: 24pc;
    }
    
    .projectExp h1{
        margin-top: 3pc;
        font-size: 20px;
    }
    
    .video{
        margin-top: 2pc;
        width: 21pc;
        height: 12pc;
    }
    
    .projectText{
        text-align: justify;
        font-size: 12px;
        margin-top: 5pc;
        margin-right: 1pc;
        width: 21pc;
        margin-bottom: 15pc;
    }
}

