@media (max-width: 1200px) and (min-width: 721px){
    .content{
        width: 80%;
      }
    
      header{ /* a */
        display: flex;
        background-color: #071829;
        opacity: 0.9;
        width: 100%;
        position: fixed;
        color: var(--main-bg-color);
        padding: 1%;
        box-shadow: 10px 10px 33px 3px rgba(0,0,0,0.50);
        justify-content: space-between;
        top: 0;
        z-index: 20;
      }

      header button{
        border: none;
        margin-right: 15px;
        padding: 0px;
      }

      .linea{
        width: 25px;
        height: 2px;
        margin: 8px;
        background-color: var(--main-bg-color);
      }
      
      nav{
        display: block;
        position: fixed;
        width: 100%;
        height: 120vh;
        background-color: #071829;
        z-index: 19;
      }

      nav ol{
        margin-top: 5pc;
      }

      nav li{
        font-size: 120%;
        margin: 1pc;
      }

      nav a:hover{
        color: var(--main-bg-color);
      }
    
      .circle{
        border: var(--main-bg-color) solid ;
        border-radius: 50%;
        width: 2.5pc;
        height: 2.5pc;
        text-align: center;
        font-size: 200%;
        margin-left: 2%;
        display: block;
      }
    
      header ol{
        display: none;
        text-align: right;
        width: 10pc;
        text-align: left;
      }
    
      header li{
        margin-left: 7%;
        font-size: 15px;
      }
    
      header li a{
        transition: 0.2s;
      }
    
      header li a:hover{
        color: var(--main-bg-color);
      }
    
      .social{
        position: fixed;
        bottom: 0;
        margin-bottom: 6pc;
        z-index: 18;
      }
    
      .social::after{
        content: "";
        display: block;
        width: 1px;
        height: 90px;
        background-color: rgb(200, 193, 202);
        margin-left: 0.5pc;
        position: fixed;
        bottom: 0;
      }
    
      .social li{
        position:relative;
        width: 1.3pc;
        list-style: none;
        transition: 0.2s;
        margin-bottom: 0.7pc;
      }
    
      .social li:hover{
        transform: translate(0%, -20%);
      }
    
      svg:hover{
        color: var(--main-bg-color);
      }
    
      .mailRight {
        position: fixed;
        bottom: 0;
        right: 0;
        transform: rotate(90deg) translate(0pc, -3pc);
        margin-bottom: 12pc;
        transition: 0.2s;
        font-size: 15px;
        z-index: 18;
      }
    
      .mailRight:hover{
        margin-bottom: 13pc;
      }
    
      .mailRight a:hover{
        color: var(--main-bg-color);
      }
    
      .mailRight::after{ /* a */
        content: "";
        display: block;
        width: 300px;
        height: 1px;
        background-color: rgb(200, 193, 202);
        margin-left: 0.5pc;
        position: fixed;
        bottom: 0;
        transform: translate(14pc, -0.5pc);
      }
    
      .init{
        margin-top: 25%;/*  */
        width: 85%;
        margin-left: 15%;
      }
    
      #init1{/*  */
        color: var(--main-bg-color);
        font-size: 16px;
      }
    
      .init h1{/*  */
        font-size: 3pc;
        margin: 0%;
      }
    
      #init3{/*  */
        color: rgb(168, 167, 167);
        font-size: 3pc;
      }
    
      #init4{/*  */
        color: rgb(168, 167, 167);
        font-size: 16px;
        width: 70%;
      }
    
      .title{/*  */
        font-size: 25px;
      }
    
      .about{ /*  */
        width: 90%;
        margin-top: 10pc;
        margin-left: 5%;
        margin-bottom: 20%;
      }
    
      .title::after{/*  */
        content: "";
        display: block;
        width: 300px;
        height: 1px;
        background-color: rgb(200, 193, 202);
        margin-left: 0.5pc;
        transform: translate(11pc, -1pc);
      }
    
      .aboutContent{
        display: flex;
      }
    
      .aboutText{/*  */
        width: 100%;
        font-size: 14px;
      }
    
      .imgAbout img{/*  */
        width: 10pc;
        height: 10pc;
        margin-left: 3pc;
        border-radius: 5px;
        z-index: 11;
      }
    
      .aboutGreen{/*  */
        content: "";
        display: block;
        width: 10pc;
        height: 10pc;
        transform: translate(3pc, 0pc);
        border-radius: 5px;
        z-index: 10;
        position: absolute;
        opacity: 0.4;
        transition: 0.5s;
        background-color: var(--main-bg-color);
      }
    
      .aboutGreen:hover{
        opacity: 0;
      }
    
      .imgAbout::after{/*  */
        content: "";
        display: block;
        width: 10pc;
        height: 10pc;
        border: 2px solid var(--main-bg-color);
        transform: translate( 3.5pc, -9.5pc);
        border-radius: 10px;
        z-index: -1;
        position: absolute;
      }
    
      .tech{/*  */
        margin-left: 10%;
      }
    
      .roulete{
        width: 80%;
        display: flex;
        overflow-x: hidden;
        overflow-y: hidden;
        padding-top: 0.5pc;
        padding-bottom: 0.5pc;
      }
    
      .techImg{
        width: 20%;
        margin-left: 5%;
        transition: 0.5s;
      }
    
      .techImg:hover{
        transform: scale(1.2);
      }
    
      .projects{
        margin-top: 20%;
      }
    
      .projects .title{/*  */
        margin-left: 10%;
      }
    
      .web{/*  */
        margin-right: 0%;
        margin-bottom: 15%;
      }
    
      .webImg{/*  */
        width: 25pc;
        height: 13pc;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    
      .webBefore{/*  */
        content: "";
        display: block;
        width: 25pc;
        height: 13pc;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        z-index: 10;
        position: absolute;
        opacity: 0.4;
        transition: 0.5s;
        background-color: var(--main-bg-color);
      }
      
      .webBefore a{/*  */
        font-size: 30px;
        color: #071829;
        text-align: center;
        padding: 21%;
        display: block;
        opacity: 0;
        transition: 0.5s;
      }
    
      .webBefore a:hover{
        opacity: 1;
        transition: 0.5s;
      }
    
      .webBefore:hover{
        opacity: 0.9;
      }
    
      .webFooter{/*  */
        width: 24pc;
        padding: .5pc;
        text-align: justify;
        background-color: #0b2642;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 15px;
        box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.75);
      }
    
      .projectImg{/*  */
        width: 25pc;
        height: 12pc;
        border-radius: 10px;
      }
    
      .projectGreen{/*  */
        content: "";
        display: block;
        width: 24.5pc;
        height: 12pc;
        border-radius: 10px;
        z-index: 10;
        position: absolute;
        opacity: 0.4;
        transition: 0.5s;
        background-color: var(--main-bg-color);
      }
    
      .projectGreen a{/*  */
        padding: 6pc;
        display: block;
        opacity: 0;
      }
    
      .projectGreen:hover{
        opacity: 0;
      }
    
      .left .projectGreen{/*  */
        margin-left: 11.5pc;
      }
    
      .left ul{
        margin-left: 15pc;
      }
    
      .projectContentRight{/*  */
        background-color: #0b2642;
        padding: .5pc;
        border-radius: 10px;
        width: 20pc;
        font-size: 14px;
        position: absolute;
        z-index: 11;
        transform: translate(15pc, -9pc);
        box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.75);
      }
    
      .projectContentLeft{/*  */
        background-color: #0b2642;
        padding: .5pc;
        border-radius: 10px;
        font-size: 14px;
        width: 20pc;
        position: absolute;
        z-index: 11;
        transform: translate(-0pc, -8pc);
        box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.75);
      }
    
      .projectTitle{/*  */
        width: 11pc;
        height: 10pc;
        text-align: right;
        margin-top: 20px;
        font-size: 17px;
        margin-left: 2%;
      }
    
      .left .projectTitle{
        text-align: left;
      }

      .project{
        margin-bottom: 10%;
      }
    
      .project ul li{/*  */
        display: none;
      }
    
      .contact{
        text-align: center;
        margin: 10%;
        font-size: 20px;
      }
    
      .contactTitle{
        font-size: 30px;
      }
    
      .contact button{
        font-size: 15px;
        padding: 1pc;
      }
}