<div class="projectExp">
    <h1 data-aos="fade-right" data-aos-duration="300" data-aos-easing="linear"><span class="rose">P: </span>Aplicación web Angular, Django, MySQL.</h1>
    <div class="center" data-aos="zoom-in" data-aos-duration="600" data-aos-easing="linear">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/X8fP17rv-f0?controls=0" title="YouTube video player" frameborder="0" class="video" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div  data-aos="fade-up" data-aos-duration="300" data-aos-easing="linear" class="projectText">
        <p>Aplicación web usando Angular y TypeScript como fronted y Django y Python como backend y una base de datos MySQL.</p>
        <p>Aplicación web orientada a la reserva y de viajes de bus, donde podremos ver todas las paradas de la zona, todas las líneas, los horarios, etc (toda esta información almacenada en una base de datos).</p>
        <p>Al entrar en la página aparece un mapa donde vemos todas las líneas disponibles, y dos bandejas, una donde se nos muestran los mensajes y otra donde se nos muestran nuestros próximos viajes.</p>
        <p>Podemos ver las distintas líneas con sus paradas y horarios haciendo clic en su nombre. Al acceder a una línea vemos la zona de la ciudad que recorre, todas sus paradas y los horarios.</p>
        <p>Al reservar un viaje volveremos a la página principal y tendremos un mensaje avisándonos que hemos reservado un viaje y en el apartado de próximos viajes veremos cuanto nos queda para el.</p>
    </div>
</div>
