<div class="projectExp">
    <h1 data-aos="fade-right" data-aos-duration="300" data-aos-easing="linear"><span class="rose">P: </span>Aplicación web Angular, MongoAtlas, Node.js.</h1>
    <div class="center" data-aos="zoom-in" data-aos-duration="600" data-aos-easing="linear">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Yfn6m7oxqOE?controls=0" class="video" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div  data-aos="fade-up" data-aos-duration="300" data-aos-easing="linear" class="projectText">
        <p>Aplicación web orientada a una empresa que se dedica a vender ordenadores y quiere guardar sus datos en una base de datos MongoAtlas.</p>
        <p>Al entrar en la página aparece un loggin que al rellenarlo intenta conectarse a la base de datos.</p>
        <p>En el menú principal encontramos distintas funciones, como ver las colecciones Ordenadores y Ventas con todos sus objetos, ver la colección Marcas que se crea automáticamente, ver una tabla con las 3 colecciones juntas o ir al menú de consultas.</p>
        <p>En la lista de Ordenadores o Ventas podemos ver todos los objetos de la colección, con todos sus campos. En la parte superior encontramos un buscador totalmente funcional que filtra los ordenadores por ID. También encontramos botones de editar y eliminar.</p>
        <p>La colección Marcas se crea automáticamente mediante una función que recoge todas las marcas que usamos en los equipos, las contabiliza y nos manda una lista con los equipos en los que aparece.</p>
        <p>El Fronted se comunica con un Backend mediante Express y este realiza todas las operaciones con la base de datos.</p>
    </div>
</div>
