<div class="projectExp">
    <h1 data-aos="fade-right" data-aos-duration="300" data-aos-easing="linear"><span class="rose">P: </span>Aplicación de escritorio Python y SQLite.</h1>
    <div class="center" data-aos="zoom-in" data-aos-duration="600" data-aos-easing="linear">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/WGSvthujtQs?controls=0" class="video" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div  data-aos="fade-up" data-aos-duration="300" data-aos-easing="linear" class="projectText">
        <p>Aplicación de escritorio programada en Python usando la librería de Tkinter, la aplicación te permite guardar, editar y eliminar registros en una base de datos SQL.</p>
        <p>La base de datos contiene dos tablas, una que guarda contenido de los coches y otra que guarda contenido de los compradores de esos coches.</p>
        <p>Tenemos botones para Guardar, Actualizar y Eliminar datos de la base de datos, aparte de cambiar de tabla.</p>
        <p>Más abajo encontramos una tabla, donde se nos muestra el contenido de la base de datos y podemos seleccionar una fila para editar o eliminar los registros, haciendo uso de los botones de abajo.</p>
    </div>
</div>
